<div class="banner">
	<%= image_tag("banner.jpg", :class => 'img-landscape') %>
	<div class="text-center">
		<h1> Hey you !</h1>
		<h3>Wanna join us ?</h3>
	</div>
		<div class= "join">
			<a href="#sign-up" class= "button2"> Join </a>
		</div>
</div>

<div class="tabs">
	<a href="#articles" class= "button3"> Articles </a>
	<a href="#add-articles" class="button3"> Ajouter un article </a>
	<a href="#yellow" class="button3"> YELOOOOOW !!! </a>
</div>

<div class= "articles">
	<div class="article">
		<div class="image">
			<%= image_tag("vinyl.jpg", :class => 'img-record') %>
		</div>
			<h3>Praeterito praeterito est congredi agiliter.</h3>
			<p>Sed ut tum ad senem senex de senectute, sic hoc libro ad amicum amicissimus scripsi de amicitia. Tum est Cato locutus, quo erat nemo fere senior temporibus illis, nemo prudentior; nunc Laelius et sapiens (sic enim est habitus) et amicitiae gloria excellens de amicitia loquetur. Tu velim a me animum parumper avertas, Laelium loqui ipsum putes. C. Fannius et Q. Mucius ad socerum veniunt post mortem Africani; ab his sermo oritur, respondet Laelius, cuius tota disputatio est de amicitia, quam legens te ipse cognosces.</p>			
	</div>
	
	<div class="article">
		<div class="image">
			<%= image_tag("birds.jpg", :class => 'img-birds') %>
		</div>
			<h3>Magnitudo Romana opposita sed per.</h3>
			<p>Erat autem diritatis eius hoc quoque indicium nec obscurum nec latens, quod ludicris cruentis delectabatur et in circo sex vel septem aliquotiens vetitis certaminibus pugilum vicissim se concidentium perfusorumque sanguine specie ut lucratus ingentia laetabatur..</p>
	</div>
	
	<div class="article">
		<div class="image">
			<%=image_tag("phone.jpg", :class => 'img-phones')%>
		</div>
			<h3>Condidisse amni Cydno et ex.</h3>
			<p>Quis enim aut eum diligat quem metuat, aut eum a quo se metui putet? Coluntur tamen simulatione dumtaxat ad tempus. Quod si forte, ut fit plerumque, ceciderunt, tum intellegitur quam fuerint inopes amicorum. Quod Tarquinium dixisse ferunt, tum exsulantem se intellexisse quos fidos amicos habuisset, quos infidos, cum iam neutris gratiam referre posset.</p>
	</div>
	
	<div class="article">
		<div class="image">
			<%=image_tag("lemon.jpg", :class => 'img-lemons')%>
		</div>
			<h3>Omnium non autem multiformibus virtutum.</h3>
			<p>Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum et Eusebium nec professionem nec dignitatem ostendens aliquotiens increpabat, qui sint hi magna quaerebatur industria, et nequid intepesceret, Epigonus e Lycia philosophus ducitur et Eusebius ab Emissa Pittacas cognomento, concitatus orator, cum quaestor non hos sed tribunos fabricarum insimulasset promittentes armorum si novas res agitari conperissent.</p>
	</div>
</div>